.DS_Store
*.pyc
*ubyte.gz
*ubyte
*.m~
*.DS_Store

# executables
*.out

# data folders
data/*

# neural network weight folders
**/.weights*/*

# ignore iPython checkpoints
*.ipynb_checkpoints

# pickle files (i.e. data files)
*.pkl
